In [ ]:
import pandas as pd

## Basics

In [ ]:
# create a simple data frame; dict keys are the column names and the dict values are the values of the respective column names
# the rows are numbered sequentially (0,1, 2, ....)
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

In [ ]:
# length of value arrays corresponding to keys must be of same length
# pd.DataFrame({'Boys': ['Anish', 'Surya', 'Nihal', 'Anshumaan'], 'Girls': ['Tanu', 'Gautami', 'Ankita']}) # this will throw error
pd.DataFrame({'Boys': ['Anish', 'Nihal', 'Surya'], 'Girls': ['Tanu', 'Ankita', 'Gautami']})

In [ ]:
# a data frame with row numbers labeled
pd.DataFrame({'Apple': ['iPhone', 'iPad', 'iPencil'], 'Samsung': ['Galaxy Note', 'Galaxy Tab', 'Smart Pencil']}, 
            index = ['smartphone', 'tablet', 'stylus'])

In [ ]:
# working with Pandas series
pd.Series([1, 2, 3, 4, 5])

In [ ]:
pd.Series(['Anish', 'Nihal', 'Surya', 'Tanu', 'Bob', 'Marvel'])

In [ ]:
# naming the rows of the series
pd.Series([30.5, 12.5, 111.2, 78.1],
         index = ['pop. A', 'pop. B', 'pop. C', 'pop. D'], name = 'Population of cities')

In [ ]:
# read a CSV file
wine_reviews = pd.read_csv("~/datasets/wine/winemag-data-130k-v2.csv")

In [ ]:
# check the dimensions of the CSV file
wine_reviews.shape

In [ ]:
# examine the first 5 rows of the dataset
wine_reviews.head()

In [ ]:
# use the index column provided in the CSV file
wine_reviews = pd.read_csv("~/datasets/wine/winemag-data-130k-v2.csv", index_col = 0)
wine_reviews.head()

In [ ]:
# working with excel files
wic = pd.read_excel("WICAgencies2013ytd.xls", sheet_name = 'Total Women')
print(wic.shape)
wic.head()

In [ ]:
# writing to files
wine_reviews.head().to_csv('wine_output1.csv')
wic.head().to_excel('women_output1.xlsx', sheet_name = 'Total Women')

## Indexing, Selecting, Assigning Reference

In [ ]:
import pandas as pd

reviews = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)
pd.set_option('display.max_rows', 10)

In [ ]:
reviews

In [ ]:
# accessing a data frame property
reviews.country

In [ ]:
# another way to access the same property
reviews['country'] # remember, country is the key; all values in the column below are the values associated with the key

In [ ]:
# selecting individual elements from a Series
print(reviews['country'][0]) # print the name of the first country
print(reviews['country'][15]) # print the name of the 16th country
print(reviews['country'][len(reviews['country']) - 1]) # print the name of the last country
# NOTE : reviews['country'][-1] does not access the last element

In [ ]:
# index based selection using loc and iloc (pandas indexing operators)
# index based selection : selecting data based on it's numerical position in the data
# both loc and iloc are row first and column second approach

# getting the first row of the data frame
print(reviews.iloc[0])
# getting the 10th row of the data frame
print(reviews.iloc[9])
# getting the last row of the data frame
print(reviews.iloc[-1])

In [ ]:
# cloumn selection using iloc
print(reviews.iloc[:, 0]) # selecting the first column
print(reviews.iloc[:, 3]) # selecting the 4th column
print(reviews.iloc[:, -1]) # selecting the last column

In [ ]:
# slicing and dicing operations using iloc

print(reviews.iloc[:5, 0]) # select the country names from the first 5 rows
print(reviews.iloc[:5, 0:4]) # select the columns 1 through 5 for the first 5 rows
print(reviews.iloc[7:11, 0]) # select the country names from rows 7 to 11
print(reviews.iloc[[0, 3, 5, 9], [0, 5, 6]]) # print the 1st, 6th and 7th columns of row numbers 1, 4, 6, 10 (arguments inside iloc were passed as list)
print(reviews.iloc[-5:]) # print the details of the last 5 rows

In [ ]:
# Using pandas.loc() instead of pandas.iloc()
# loc uses the information of indices to access the data
print(reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]) # print the rows corresponding to the column names specified
# reviews.iloc[:, ['taster_name', 'taster_twitter_handle', 'points']]  # this will throw an error; we cannot use iloc for this operation;
# to get the same result as loc operation, we need to specify the column numbers explicitly
print(reviews.loc[[0, 1, 2, 10, 110, 1298, 5601], 'country']) # select the country names of the rows specified

* iloc and loc both are used for indexing operations
* iloc treats the data frame as a matrix, i.e. a list of lists, we cannot index using the information, only numbers can be used
* loc is more versatile in the sense that it allows us to index using the information present in the data frame
* iloc uses stdlib indexing, i.e. 0:10 fetches data from 0 to 9 (inculdes 0 but excludes 10)
* loc uses inclusive indexing, i.e. 0:10 fetches 0 to 10 (both inclusive)

In [ ]:
# Manipulating the index
reviews.set_index('title') # index the rows by title

In [ ]:
reviews.set_index('country') # index by country names

In [ ]:
# selecting the rows where the wines are from Italy
reviews.loc[reviews['country'] == 'Italy']

In [ ]:
# selecting the rows where the wines are from Italy and are highly rated
reviews.loc[(reviews['country'] == 'Italy') & (reviews['points'] >= 90)]

In [ ]:
# selecting the rows where the wines are from Italy or highly rated
reviews.loc[(reviews['country'] == 'Italy') | (reviews['points'] >= 90)]

In [ ]:
# selecting the wines made in Italy or France using 'isin' operator (native to pandas)
reviews.loc[reviews['country'].isin(['Italy', 'France'])]

In [ ]:
# filter out the wines lacking a price tag in the data set
reviews.loc[reviews['price'].notnull()] # isnull() is opposite to notnull()

## Summary Functions and Maps Reference

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('max_rows', 10)
df = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)
df.head()

In [ ]:
# to get some high level summary of a given column (works well with numerical data)
df.points.describe()

In [ ]:
# same as above for string data
df['country'].describe()

In [ ]:
# to get a mean of the points
df['points'].mean()

In [ ]:
# to get a sum of the points
df['points'].sum()

In [ ]:
# to get a list of unique values (for eg. country names)
df['country'].unique()

In [ ]:
# to get a list of unique values and a count of the unique values
df['country'].value_counts()

In [ ]:
# a count of unique wine tasters and their count
df['taster_name'].value_counts()

In [ ]:
# using map functions we can apply some transformation (or a function call) on every value in a Series
# map function takes a series as an input
mean_points = df['points'].mean()
df['points'].map(lambda p : p - mean_points) # p refers to every value in the Series "points"

In [ ]:
# using apply function we can get similar result to map function but across multiple columns
# apply function lets us transform the data across the entire data frame
# apply function takes a function as an input
def mean_df(data_frame):
    data_frame['points'] = data_frame['points'] - mean_points
    return data_frame

df.apply(mean_df, axis='columns')

In [ ]:
# same as above without using map/apply function
# this approach is faster; not necessarily preferable
mean_p = df['points'].mean()
df['points'] - mean_p

In [ ]:
# combining country names and regions
df['country'] + '-' + df['region_1']

## Grouping and Sorting

In [ ]:
import pandas as pd

df = pd.read_csv('winemag-data-130k-v2.csv')
pd.set_option('display.max_rows', 10)
df.head()

In [ ]:
# group by points and display the count of each group 
df.groupby('points')['points'].count()
# df.groupby('points').points.count() # another way to achieve the same

In [ ]:
# group by country names and display the counts of each country
df.groupby('country')['country'].count()

In [ ]:
# group by country names and display the points count of each group
df.groupby('country')['points'].value_counts() # groups by country names and then displays the counts of the unique points in each group

In [ ]:
# get the price of the cheapest wine in each country
df.groupby('country')['price'].min()

In [ ]:
# get the average points of wine in each country
df.groupby('country')['points'].mean()

In [ ]:
# groupby function can also be used in conjunction with apply function
# display the names of the first wine reviewed from each country in the dataset
df.groupby('country').apply(lambda p: p['title'].iloc[0])

In [ ]:
# display the best wines by country and province
df.groupby(['country', 'province']).apply(lambda p: p.loc[p['points'].idxmax()])

In [ ]:
# use the aggregate function to run a bunch of functions on the data frame simultaneously
# perform statistical analysis (of price) on the data frame country wise
df.groupby(['country'])['price'].agg([len, max, min])

In [ ]:
# perform statistical analysis (of points) on the data frame country wise
df.groupby(['country'])['points'].agg([len, max, min])

In [ ]:
# sort the data frame by points; default is ascending order
df.sort_values(by='points')

In [ ]:
# sort the data frame by price; decreasing order
df.sort_values(by='price', ascending=False)

In [ ]:
# sort by points and price
df.sort_values(by=['price', 'points'])

In [ ]:
# sort by index
df.sort_index()

## Data Types and Missing Data Reference

In [ ]:
import pandas as pd

df = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)
pd.set_option('max_rows', 10)
df.head()

In [ ]:
# check the data type of the price column
df['price'].dtype

In [ ]:
# check the data type of the country column
df['country'].dtype

In [ ]:
# check the data type of the description column
df['description'].dtype

In [ ]:
# check the data type of the points column
df['points'].dtype

In [ ]:
# check the data type of every column in the dataset
df.dtypes

In [ ]:
# convert the points column from int64 to float64
df['points'].astype('float64')

In [ ]:
# check the data type of the index
df.index.dtype

In [ ]:
# Missing entires are specified as NaN
# They are always assigned float64 dtype

# select the rows where the country name is null
df[df['country'].isnull()]

In [ ]:
# another way of doing the above
df.loc[df['country'].isnull()]

In [ ]:
# Fill NaN values (eg. region_2) with something else
df['region_2'].fillna('Unknown')

In [ ]:
# replace a non null value with some other data (eg. change country Italy to Italia)
df['country'].replace('Italy', 'Italia')

## Renaming and Combining

In [ ]:
import pandas as pd
pd.set_option('max_rows', 10)

reviews = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)
reviews.head()

In [ ]:
# rename the column 'points' to 'score'
reviews.rename(columns={'points' : 'score'})

In [ ]:
# make the above changes permanent
reviews.rename(columns={'points' : 'score'}, inplace=True) # use the inplace=True parameter setting to make changes permanent

In [ ]:
# rename the indexes
reviews.rename(index={0 : 'first_index', 1 : 'second_index'})

In [ ]:
# rename the column axis as "fields"
reviews.rename_axis('fields', axis='columns')

In [ ]:
# rename column axis as "fields" and row axis as "indexes"
reviews.rename_axis('fields', axis='columns').rename_axis('indexes', axis='rows')

In [ ]:
# rename the rows as "indexes" and make changes permanent
reviews.rename_axis('indexes', axis='rows', inplace=True)

In [ ]:
reviews.head()

In [ ]:
# combining operations : concat, join, merge

import pandas as pd
pd.set_option('max_rows', 10)

canadian_youtube = pd.read_csv('CAvideos.csv')
british_youtube = pd.read_csv('GBvideos.csv')

In [ ]:
# display the Canadian dataset
canadian_youtube.head()

In [ ]:
# display the British dataset
british_youtube.head()

In [ ]:
print('canadian dataset size : ', canadian_youtube.shape)
print('british dataset size : ', british_youtube.shape)

In [ ]:
# concatenate both the British and the Canadian datasets
df = pd.concat([canadian_youtube, british_youtube])
df.head()

In [ ]:
print('concatenated dataset size : ', df.shape)

In [ ]:
# index the datasets by taking the columns "title" and "trending date" together
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

In [ ]:
# get videos trending on the same day in both Canada and UK
left.join(right, lsuffix='_CAN', rsuffix='_UK') # suffix commands to distinguish between the column names for Canada and UK

## Method Chaining

In [ ]:
import pandas as pd
pd.set_option('max_rows', 7)

wine = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)
ramen = pd.read_csv('ramen-ratings.csv', index_col=0)

In [ ]:
wine.head()

In [ ]:
# perform data cleaning and dropping operation
stars = ramen['Stars']
na_stars = stars.replace('Unrated', None).dropna()
float_stars = na_stars.astype('float64')
float_stars.head()

In [ ]:
# chain the above sequence of operations
(ramen['Stars']
.replace('Unrated', None)
.dropna()
.astype('float64')
.head())

In [ ]:
wine.head()

In [ ]:
# replace the NaN values in 'region_2' with province of that region (make the changes permanent)
# use the assign() function
wine = wine.assign(region_2 = wine.apply(lambda x: x['region_2'] if pd.notnull(x['region_2']) else x['province'], axis='columns'))
wine.head()

In [ ]:
# replace the values where the price is NaN to 0 (make changes permanent)
wine = wine.assign(price = wine.apply(lambda x: x['price'] if pd.notnull(x['price']) else 0, axis='columns'))
wine.head()